body{
    
}
.btn-design{
    border-color: black;
    border: 0;
   background: radial-gradient(white,skyblue );
  color: blue;
    margin-left: 10px;
  cursor: pointer;
  float: left;
 font-family: cursive;
    font-weight: bold;
    height: 40px;
}
.box-design{
    margin-top: 10px;
    border-radius: 4px;
    height: 40px;
    width: 150px;
    margin-left: 10px;
    background-color: antiquewhite;
    color: blue;
}